/* ImageBackground */

.background {
    position: absolute;
    width: 1280px;
    height: 720px;
    left: 0px;
    top: 0px;
    background-image: url(img/bg2.png);
}

/* container */
.container {
    position: absolute;
    width: 1280px;
    height: 720px;
    left: 0px;
    top: 0px;
    background: rgba(42, 38, 61, 0.82);
}
/* Reservation */
h1 {
    position: absolute;
    left: 518px;
    right: 519px;
    top: 58px;
    bottom: 578px;

    font-family: Pacifico;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 84px;
    text-align: center;

    color: #FCB371;
}
/* form */
.form_login {

    display: flex;
    flex-direction: row;
    padding: 5px;
    
    position: absolute;
    width: 382px;
    height: 35px;
    left: calc(50% - 382px/2);
    top: calc(50% - 46px/2 - 128px);
    
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.form_email {
    display: flex;
flex-direction: row;
padding: 5px;

position: absolute;
width: 382px;
height: 35px;
left: calc(50% - 382px/2 + 0.5px);
top: calc(50% - 46px/2 - 66px);

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 8px;
}

.form_number {
    display: flex;
flex-direction: row;
padding: 5px;

position: absolute;
width: 177px;
height: 35px;
left: calc(50% - 177px/2 - 102px);
top: calc(50% - 46px/2 - 4px);

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 8px;
}

.form_negara {
    display: flex;
    flex-direction: row;
    padding: 5px;

    position: absolute;
    width: 189px;
    height: 49.5px;
    left: calc(50% - 189px/2 + 110px);
    top: calc(50% - 46px/2 - 4px);

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    color: #999;
}
.text_area {
    display: flex;
flex-direction: row;
padding: 16px;

position: absolute;
width: 360px;
height: 116px;
left: calc(50% - 382px/2 + 0.5px);
top: calc(50% - 116px/2 + 93px);

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 8px;
color: #999;

}

.tombol {
    display: flex;
    flex-direction: row;
    padding: 16px;
    display: block;

    position: absolute;
    width: 385px;
    height: 53px;
    left: calc(50% - 375px/2 + 0.5px);
    top: calc(50% - 53px/2 + 220px);
    background: #FCB371;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    font-family: Pacifico;
    text-align: center;
    color: #FFFFFF;

}

a{
    position: absolute;
    width: 24px;
    height: 0px;
    left: 60px;
    top: 50px;
    font-family: pacifico;
    color: #FCB371;
}